[Unit]
Description=myapp
After=network.target

[Service]
User=root
WorkingDirectory=/home/ubuntu/flask-app-in-ec2-ubuntu
Environment="PATH=/home/ubuntu/flask-app-in-ec2-ubuntu/venv/bin"
ExecStart=/home/ubuntu/flask-app-in-ec2-ubuntu/venv/bin/python main.py
Restart=always

[Install]
WantedBy=multi-user.target
